<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form</title>
  </head>

  <body id="form-component">
    <form
      action="contact.php"
      method="post"
      class="bef bef-bg-PowderBluegress p-3 p-m-5 d-flex flex-wrap justify-content-around bef-h-auto"
    >
      <img src="./img/logo final.png" alt="" class="w-50 text-center py-3" />
      <h2 class="text-center p-3 w-100">REQUEST YOUR APPOINTMENT</h2>
      <div class="col-12 p-2">
        <label for="inputEmail4" class="form-label">Name</label>
        <input
        name="nombre"
          placeholder="Name"
        />
      </div>
      <div class="col-12 col-sm-6 p-2">
        <label for="inputPassword4" class="form-label">Email</label>
        <input
          name="correo"
          type="email"
          class="form-control"
          id="inputPassword4"
          placeholder="Email"
        />
      </div>
      <div class="col-12 col-sm-6 p-2">
        <label for="inputEmail4" class="form-label">Phone</label>
        <input
          name="telefono"
          type="phone"
          class="form-control"
          id="inputEmail4"
          placeholder="Phone"
        />
      </div>
      <div class="col-12 p-2">
        <label for="inputPassword4" class="form-label">Address</label>
        <input
          name="region"
          type="text"
          class="form-control"
          id="inputPassword4"
          placeholder="Full address"
        />
      </div>

      <div class="form-group col-12 p-2">
        <label for="exampleFormControlTextarea1">Message</label>
        <textarea
          name="mensaje"
          class="form-control"
          id="exampleFormControlTextarea1"
          rows="3"
          placeholder="Tell us what you need."
        ></textarea>
      </div>

      <div class="d-flex">
        <div class="mb-3 form-check p-2">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" />
          <label class="form-check-label" for="exampleCheck1"
            >Check me out</label
          >
        </div>
        <div>
          <button type="submit" class="btn btn-primary p-2">Submit</button>
        </div>
      </div>
    </form>
  </body>
</html>
