<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NavBar</title>
    <link rel="stylesheet" href="/css/bef-styles.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <!-- <link rel="stylesheet" href="/css/superslides.css" /> -->
  </head>
  <body id="navbar-component">
    <nav
      class="navbar navbar-expand-md navbar-dark fixed-top bef bef-bg-greengrass px-2"
    >
      <h1 class="navbar-brand" href="#"><img src="../img/utileria/logo final.png" alt="" class="logo"></h1>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav w-100 mb-2 mb-md-0 d-flex justify-content-end">
          <li class="nav-item text-center">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item text-center">
            <a class="nav-link active" href="./Gallery.html">Gallery</a>
          </li>
          <li class="nav-item text-center">
            <a class="nav-link active" href="./aboutus.html">About Us</a>
          </li>
          <li class="nav-item text-center">
            <a class="nav-link active" href="./contact.html">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
  </body>
</html>
